azure/adf/pipeline/tsk_EDI_837_FILE_LOADER.json
{
	"name": "tsk_EDI_837_FILE_LOADER",
	"properties": {
		"activities": [
			{
				"name": "ForEach Data File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Data File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "Name",
						"value": "@pipeline().parameters.p_file_source"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Data File Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Variable - File Pattern",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Name",
									"value": "@pipeline().parameters.p_file_source"
								}
							],
							"typeProperties": {
								"variableName": "v_file_pattern",
								"value": {
									"value": "@substring(item().name, 0, add(length(item().name), -18))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Delete the Data File from Inbox",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Load Raw Claims",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 300,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Name",
									"value": "@pipeline().parameters.p_file_source"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_edi_837_files",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source, '/data')",
											"type": "Expression"
										},
										"p_file_name": "*",
										"p_hotstore_endpoint": {
											"value": "@pipeline().globalParameters.par_blob_hotstore_endpoint",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{concat(variables('v_file_pattern'), '*.txt')}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Move Files from Inbox to Hot Archive",
							"description": "Move Files from Inbox to Hot Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete the Data File from Inbox",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 300,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Name",
									"value": "@pipeline().parameters.p_file_source"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(variables('v_file_pattern'), '*.*')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_edi_837_files",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source)",
											"type": "Expression"
										},
										"p_file_name": "*",
										"p_hotstore_endpoint": {
											"value": "@pipeline().globalParameters.par_blob_hotstore_endpoint",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_edi_837_files",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/archive/')",
											"type": "Expression"
										},
										"p_file_name": " ",
										"p_hotstore_endpoint": {
											"value": "@pipeline().globalParameters.par_blob_hotstore_endpoint",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Move Files from Inbox to Cold Archive",
							"description": "Move Files from Inbox to Cold Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Move Files from Inbox to Hot Archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 300,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Name",
									"value": "@pipeline().parameters.p_file_source"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(variables('v_file_pattern'), '*.*')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_edi_837_files",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source)",
											"type": "Expression"
										},
										"p_file_name": "*",
										"p_hotstore_endpoint": {
											"value": "@pipeline().globalParameters.par_blob_hotstore_endpoint",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_cold_archive",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/edi/xml/', \n\nconcat(formatDateTime(convertTimeZone(utcnow(), 'UTC', 'Central Standard Time'), 'yyyy'),\n\nformatDateTime(convertTimeZone(utcnow(), 'UTC', 'Central Standard Time'),'MM'),\n\nformatDateTime(convertTimeZone(utcnow(), 'UTC', 'Central Standard Time'),'dd')),'/') ",
											"type": "Expression"
										},
										"p_file_name": " ",
										"p_coldstore_endpoint": {
											"value": "@pipeline().globalParameters.par_blob_coldstore_endpoint",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete the Archived Files from Inbox",
							"description": "Delete the Archived Files from Inbox",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Move Files from Inbox to Cold Archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 300,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Name",
									"value": "@pipeline().parameters.p_file_source"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_edi_837_files",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source)",
											"type": "Expression"
										},
										"p_file_name": "*",
										"p_hotstore_endpoint": {
											"value": "@pipeline().globalParameters.par_blob_hotstore_endpoint",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{concat(variables('v_file_pattern'), '*.*')}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Load Raw Claims",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set Variable - File Pattern",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 300,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Name",
									"value": "@pipeline().parameters.p_file_source"
								}
							],
							"linkedServiceName": {
								"referenceName": "ls_sf_isdc",
								"type": "LinkedServiceReference",
								"parameters": {
									"par_sf_acct": {
										"value": "@pipeline().globalParameters.par_sf_acct",
										"type": "Expression"
									},
									"par_sf_user": {
										"value": "@pipeline().globalParameters.par_sf_user",
										"type": "Expression"
									},
									"par_sf_db": {
										"value": "@pipeline().globalParameters.par_sf_db",
										"type": "Expression"
									},
									"par_sf_wh": {
										"value": "@pipeline().globalParameters.par_sf_wh",
										"type": "Expression"
									},
									"par_sf_role": {
										"value": "@pipeline().globalParameters.par_sf_role",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "PIPELINE_ID",
												"type": "String",
												"value": {
													"value": "@pipeline()?.TriggeredByPipelineRunId",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "PIPELINE_NAME",
												"type": "String",
												"value": {
													"value": "@pipeline()?.TriggeredByPipelineName",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "FILE_SOURCE",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.p_file_source",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "FILE_PATTERN",
												"type": "String",
												"value": {
													"value": "@variables('v_file_pattern')",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "SUB_PROCESS_NAME",
												"type": "String",
												"value": {
													"value": "@substring(pipeline()?.TriggeredByPipelineName,3,add(length(pipeline()?.TriggeredByPipelineName), -3))",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "PROCESS_NAME",
												"type": "String",
												"value": {
													"value": "@substring(pipeline()?.TriggeredByPipelineName,3,add(length(pipeline()?.TriggeredByPipelineName), -3))",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "UTIL",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.p_util_schema",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DATAFACTORY",
												"type": "String",
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": "SET PIPELINE_ID = ?;\r\nSET PIPELINE_NAME = ?;\r\nSET FILE_SOURCE = ?;\r\nSET FILE_PATTERN = ?;\r\nSET SUB_PROCESS_NAME = ?;\r\nSET PROCESS_NAME = ?;\r\nSET UTIL = ?;\r\nSET DATAFACTORY = ?;\r\nSET PROGRAM_LIST = $UTIL||'.PROGRAM_LIST';\r\nSET PROCESS_LIST = $UTIL||'.PROCESS_LIST';\r\nEXECUTE IMMEDIATE\r\n$$\r\nDECLARE\r\nv_OBJECT_DB VARCHAR;\r\nv_OBJECT_SCHEMA VARCHAR;\r\nv_OBJECT_NAME VARCHAR; \r\nv_OBJECT_SIGNATURE VARCHAR;\r\nv_STMT VARCHAR;\r\nBEGIN\r\n----------Get the meta data of the procedure and run it---------------------\r\nSELECT \r\nOBJECT_DB, \r\nOBJECT_SCHEMA, \r\nOBJECT_NAME, \r\nOBJECT_SIGNATURE\r\nINTO \r\n:v_OBJECT_DB, \r\n:v_OBJECT_SCHEMA, \r\n:v_OBJECT_NAME, \r\n:v_OBJECT_SIGNATURE\r\n\r\nFROM IDENTIFIER($PROGRAM_LIST) PGM JOIN IDENTIFIER($PROCESS_LIST) PRC ON PGM.PROCESS_NAME = PRC.PROCESS_NAME AND PGM.DATA_FACTORY_NAME = PRC.DATA_FACTORY_NAME AND PGM.APP_NAME = PRC.APP_NAME AND PRC.ACTIVE_INDC = 'Y'\r\nWHERE UPPER(PGM.SUB_PROCESS_NAME) = $SUB_PROCESS_NAME AND UPPER(PGM.PROCESS_NAME) = $PROCESS_NAME AND PGM.DATA_FACTORY_NAME = $DATAFACTORY AND PGM.APP_NAME = 'PRE_CLM';\r\n\r\nv_STMT := 'CALL '||:v_OBJECT_DB||'.'||:v_OBJECT_SCHEMA||'.'||:v_OBJECT_NAME||:v_OBJECT_SIGNATURE;\r\n\r\nEXECUTE IMMEDIATE v_STMT;\r\n\r\nRETURN v_STMT; \r\n\r\nEND;\r\n$$\r\n\r\n;"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Get Data File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 300,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Name",
						"value": "@pipeline().parameters.p_file_source"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_edi_837_files",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_name": {
								"value": "@concat(pipeline().globalParameters.par_env, '/pre_clm/inbox/',pipeline().parameters.p_file_source, '/data')",
								"type": "Expression"
							},
							"p_file_name": "*.txt",
							"p_hotstore_endpoint": {
								"value": "@pipeline().globalParameters.par_blob_hotstore_endpoint",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"p_file_source": {
				"type": "string"
			},
			"p_util_schema": {
				"type": "string"
			}
		},
		"variables": {
			"v_file_pattern": {
				"type": "String"
			},
			"v_data_file_exists": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "PRE_CLM/Tasks"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-07T00:21:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}